body {
    background: yellowgreen;
    background: linear-gradient(to right, yellowgreen, yellow);
  }
  
  .card-img-top {
    width: 100%;
    height: 50%;
    /* Link to your background image using in the property below! */
    background: scroll center url('../salade.jpg');
    background-size: cover;
  }
  
  
.titre {
    font-size: 80px;
}

.test {
    color: grey;
    font-size: 12px;
    font-style: italic;
}

